:root{
    --dark:#223132;
    --darker:#123;
    --darkest:#010134;
    --gray:#252525;
    --pink:#b5347b;
    --purple:#3f2a79;
    --light:#eee;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

body{
    background-color:var(--purple)
}

.calculator-wrapper{
    width:100%;
    height:100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#screen{
    font-size: 1.5rem;
}

.calculator{
    padding:1.0rem;
    background-color: #010134;
}
.calculator form input{
    border:0;
    outline:0;
    width:5rem;
    height:5rem;
    border-radius:10px;
    box-shadow:-8px 8px 15px #fff,5px 5px 15px #000;
    background: transparent;
    font-size:2rem;
    color:#fff;
    cursor:pointer;
    margin: 9px;
}

form .display-screen{
    display: flex;
    justify-content: flex-end;
    margin:20px 0;
    flex:1;
    
}

form .display-screen input{
    flex:1;
    text-align:right;
    font-size:4rem;
    box-shadow: none;
    border: 2px solid white;
    background-color: #e3f9ff;
    color:black;
    height:10rem;
}

.operator{
    background-color: green;
}

#equal{
    width:12rem;
    background-color: red;
}
#ac,#delete{
    background-color: red;
}


