:root{
    --dark:#223132;
    --darker:#123;
    --darkest:#010134;
    --gray:#252525;
    --pink:#b5347b;
    --purple:#3f2a79;
    --light:#eee;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* border:2px solid red; */

}

header,main{
    margin:auto;
}
body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}


#new-input-form{
      width:50%;
      background-color:#010134;
      color:white;
      display:flex;
      flex-direction:column
      
}
input{
    width:10rem;
    height:5rem;
}
.output-display{
    /* border:var(--gray); */
    width: 10rem;
    height:5rem;
    background-color: gray;
}

.numbers-operators-section{
    display:flex;
    justify-content:center;
    width:30rem;
    height:50vh;
    background-color:#223132;
    color:white;
}
.numbers{
    display:grid;
    flex:0.5;
    border:2px solid red;
    grid-template-areas: 
    'one two three'
    'four five six'
    'seven eight nine'
    ;
    
}

.operators{
    display: grid;
    
}
.numbers>p,.operators>p{
    border:2px solid white;
    padding:2px;
    height:2rem;
    width:2rem;
}


